@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto&family=Rock+Salt&display=swap');
/*reset*/

*{ margin: 0;
padding: 0;
box-sizing: border-box;}


/*dar a fonte a todo body, com peso regular a 400 e tamanho 22px
caso não tenha a fonte importada vai usar a secundaria*/
body, button, input {
    font: 400 18px "Roboto", sans-serif;
}

li{
    list-style: none;
}
/*reset*/

:root {
    --blue: #00008B;
    --gray: #555555;
    --skyblue: #00bFFF;
    --silver: #c0c0c0;
    --red: #ff0000;
    ---white: #ffffff;
    --darkgray: #959595;
}

.red {
    color: red;
    font-family: "Rock Salt", cursive;
}

.main-header {
    background-image:url(background-image.png);
    background-position:50% 39% ;/*alinhamento nos eixos x e y*/
    display: flex;  /* colocar elementos centralizados */
    flex-direction: column; /*alinhar elementos em baixo um do outro*/
    align-items: center; /*centralizar elementos*/
}

.main-nav-container {
width: 100%; /*cupar toda area disponivel*/
max-width: 600px; /*travar a largura maxima em definir para objetos*/
padding: 0 16px; /*primerio é cima  e baixo, segundo é esquerda e direita*/

}

.header-list-container {
    display: flex;
    justify-content: space-between; /*espaçamento entre itens*/
    align-items: center;
    padding: 16px 0;
}

.nav-item {
text-transform: uppercase; /*transformar letras em maiúsculas*/
color:#00008B ;
}

.nav-item a {
  text-decoration: none;/**/
  color: inherit; /*herda a cor do pai()nsv item*/
}

.nav-item :hover{
transition: 0.2s; /*atrasar o tempo que a cor muda*/
    color:#00008bb3;
}

hr {
    width: 100%;
}

.main-about {
    padding: 40px 0 64px;
}

.container {
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto;
}
.title-median {
    font-family: "Raleway", sans-serif; /*pega a fonte importada, caso não encontre utiliza a sans-serif (padrão)*/
font-size: 32px;
text-align: center;
text-transform: uppercase;
margin-bottom: 24px;
}

.about-image {
    float:left; /*alinha a imagem a esquerda*/
    margin: 0 20x 10px 0;
    /*diminuir o tamanho das imagens */
    width: 200px;/*largura*/
    height: auto;/*altura, evita a distorção das imagens*/
}

.about-description {
color: var(--blue) ; /*utiliza variavel de cor criado anteiormente*/
text-align: justify; /*justifica o texto*/
}

/*Footer*/

.main-footer{
    background-color: var(--skyblue); /*cor do fundo*/
padding: 15px 0;/*espaçamento cima/baixo, esquerda/direita*/
}

.list-container{

    display: flex; /*deixar tudo na mesma linha*/
    align-items: center;/*alinha itens no centro*/
    justify-content: space-between;/*coloca nome de ladoa lista de conteudo*/
}

.main-footer-container{

    display: flex; /*deixar tudo na mesma linha*/
    align-items: center;/*alinha itens no centro*/
    justify-content: space-between;/*coloca nome de ladoa lista de conteudo*/
}

.title-smaller {
    font-family: "Relaway", sans-serif; /*importa a fonte*/
    font-size: 26px; /*aumenta o tamanho das letras*/
color: var(--blue); /*aplica cor de acordo com a variavel*/
}

.footer-item {
    width: 50px;
    height: 50px;
    padding: 15px 0;/*espaçamento cima/baixo, esquerda/direita*/
}

.footer-item + .footer-item {
    margin-left: 16px; /*aplica a mesma class seguindo em diante, ate chegar no fim*/
}




/*CONTATO.HTML*/

.contact-text {
text-align: center;
margin-bottom: 30px;
font-size: 28px;
color: var(--gray);
}

.contact {
    background-color: var(--skyblue); /*cor do fundo do formulario*/
    padding: 20px; /*espaçamento*/
    max-width: 600px; /*tamanho definido para o projeto*/
    margin-left: auto;/*empurra para a direita*/
    margin-right: auto;/*empurra para a esquerda*/
    margin-bottom: 20px;
}

.contact-label {

display: block; /*coloca os elementos um em cima do outro */
margin-bottom: 20px; /*espaçamento para baixo*/
color: var(--blue);
}

.contact-field {
    display: block; /*coloca os elementos um em cima do outro */
width: 100%; /*ocupa o espaço maximo disponivel*/
height: 30px; /*aumenta a altura do campo*/
font-size: 16px; /*aumenta o tamanho da fonte*/
padding-left: 10px; /*empurra o elemento para dentro do campo para a esquerda*/
border: none;
}

.contact-field:focus { /*troca a cor de fundo da area do formulario*/
    background-color: var(--silver); /*cor de fundo */
    outline: none; /*remove a linha interna do formulario*/
}

textarea.contact-field {
    height: 150px; /*altera a altura do campo*/
    padding: 10px;/* dar espaçamento */
    font-family: "Roboto",Calibri;
}

.button-form {
background-color: var(--blue); /* cor de fundo*/
color: var(---white); /*cor da fonte do botao*/
border-radius: 10px; /*curvatura*/
border: 2px solid var(--blue);
padding: 2px 6px; /*espaçamento*/
font-weight: bold;
cursor: pointer; /*muda a seta para a mao*/
}

.button-form:hover {
background-color: var(---white);
color: var(--blue);
}

.contact-maps {
 max-width: 600px;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 20px;
}


/*index*/

.title-header {
    font-family: "Madimi One", cursive; /*fonte importadaa*/
    color: var(--blue); /*cor da letra*/
    font-size: 38px; /*tamanho*/
    padding-bottom: 10px; /*espaçamento*/
}

.title-large {
    font-family: "Rock Salt", cursive; /*fonte importada*/
    font-size: 38px; /*tamango da fonte*/
    color: var(--blue);
    text-align: center;/*alinhar no centro*/
}

.description {
    text-align: center;
    color: var(--gray);
    padding-bottom: 10px;
}

.emphasis {
background-color: var(--skyblue);
color: var(--blue);
border-radius: 25px;
text-align: center;
}

.product-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 40px;
padding-bottom: 30px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    font-size:20px;
    margin-bottom: 6px;
}

.product-image {
    width: 320px;
    height: 200px;
    margin-bottom: 20px;
}

.product-price-container{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.product-price {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.button-hover {
    background-color: var(--skyblue);
    color: var(--blue);
border: 2px solid var(--skyblue);
border-radius: 10px;
cursor: pointer; /*muda a seta para a mao*/
padding: 4px 2px; /*espaçamento*/
font-weight: bold;
}

.button-hover:hover {
    background-color:transparent;
    color: var(--skyblue);
border: 2px solid var(--blue);
}

.cart-table {
    width: 100%;
    border-collapse: collapse; /*tira a pequena abertura na borda*/
}

.table-head-item {
    text-align: start;
    border-bottom: 1px solid var(--darkgray);  /*Adiciona a linha da borda*/
    padding-bottom: 6px;
    text-transform: uppercase; /*Transforma em maiúsculo*/
}

.second-col.third-col {
    width: 25%;
}

.cart-product {
    padding: 8px;
}

.product-identification {
    display: flex;
    align-items: center;
}

.cart-product-image {
    width: 120px;
    height: 80px;
}

.cart-product-title{
    margin-left: 15px;
}

.cart-product-price {
    font-family:"Raleway", sans-serif;
}

.product-qnt-input {
    width: 40px;
    height: 30px;
    border: 3px solid var(--blue);
    border-radius: 10px;
    background-color: var(--silver);
    text-align: center;
}

.remove-product-button {
    background-color: var(--red);
    color: var(---white);
    border: 0;
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;

}

.remove-product-button:hover{
    filter: brightness(0.8); /*diminui o brilho*/
}

.cart-total-container {
    border-top: 1px solid var(--darkgray);
text-align: end; /*leva o conteudo para o final do campo*/
padding: 6px 16px 0 0;/*top direita baixo esquerda*/

}

.cart-total-container strong {
    margin-right: 10px;
}

.purchase-button {
display: flex;
padding:  16px 20px;
background-color: var(--blue);
text-transform: uppercase;
border: 0;
font-weight: bold;
margin: 24px auto 0;
color: var(---white);
}

.purchase-button:hover {
    filter: brightness(0.8);
}

/*responsividade*/

@media (max-width: 825px){
    .title-header{
        font-size: 34px;

    }
}

@media (max-width: 725px) {
 .main-footer-container{   
flex-direction:column;
 }
 .title-median {
    font-size: 30px;
 }

.product-container{
        width: 320px;   
}

.cart-product-title{
    margin-left: 0;
}

.title-header {
    font-family: "Madimi One", cursive;
    color: var(--blue);
    font-size: 35px;
    padding-bottom: 10px;
}

.title-large {
    font-family: "Rock Salt", cursive;
    font-size: 28px;
    color: var(--blue);
    text-align: center;
}


}


@media (max-width: 680px) {
    .product-container{
    justify-content: center;
    }
.title-median {
        font-size: 27px;
        padding: 4px;
     }
}


@media(max-width: 600px){
.title-large {
    font-size: 24px;
}
}

@media (max-width: 590px){
    .product-identification{
        flex-direction: column ;
   }

   .product-qnt-input {
    
   }
}

@media (max-width: 560px){

.title-large {
    font-size: 32px;
}

.title-median {
    font-size: 21px;
}

}

@media (max-width: 500px){

.title-header {
    font-size: 30px;
}

.title-large {
    font-size: 26px;
}
.title-median {
    font-size: 18px;
}

.title-smaller {
    font-size: 22px;
}

}


@media (max-width: 405px){

    .nav-item img {
        width: 80px;
        height: 80px;
    }

    .header-list-container {
        font-size: 18px;
    }
    
    .title-median {
        font-size: 26px;
    }
    
    .title-smaller {
        font-size: 17px;
    }
   .product-container{ 
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
   }

   .product-image {
    width: 315px;
}
   .description {
    font-size: 19px;
   font-family: "Madimi One";
   }

   .emphasis {
    font-size: 32px;
}
   
    }
    

    @media (max-width: 405px) {
        .about-image{
            width: 160px;
        }
        .contact-text {
            font-size: 25px;
        }
    }
