@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto&family=Rock+Salt&display=swap');

/*reset*/

*{ margin: 0;
padding: 0;
box-sizing: border-box;}


/*dar a fonte a todo body, com peso regular a 400 e tamanho 22px
caso não tenha a fonte importada vai usar a secundaria*/
body {
    font: 400 22px "Roboto", sans-serif;
}

li{
    list-style: none;
}
/*reset*/

:root {
    --blue: #00008B;
    --gray: #555555;
    --skyblue: #00bFFF;
    --silver: #c0c0c0;
    --red: #ff0000;
    ---white: #ffffff;
    --darkgray: #959595;
}

.red {
    color: red;
    font-family: "Rock Salt", cursive;
}

.main-header {
    background-image:url(background-image.png);
    background-position:50% 39% ;/*alinhamento nos eixos x e y*/
    display: flex;  /* colocar elementos centralizados */
    flex-direction: column; /*alinhar elementos em baixo um do outro*/
    align-items: center; /*centralizar elementos*/
}

.main-nav {
width: 100%; /*cupar toda area disponivel*/
max-width: 600px; /*travar a largura maxima em definir para objetos*/
padding: 0 16px; /*primerio é cima  e baixo, segundo é esquerda e direita*/

}

.header-list-container {
    display: flex;
    justify-content: space-between; /*espaçamento entre itens*/
    align-items: center;
    padding: 16px 0;
}

.nav-item {
text-transform: uppercase; /*transformar letras em maiúsculas*/
color:#00008B ;
}

.nav-item a {
  text-decoration: none;/**/
  color: inherit; /*herda a cor do pai()nsv item*/
}

.nav-item :hover{
transition: 0.2s; /*atrasar o tempo que a cor muda*/
    color:#00008bb3;
}

hr {
    width: 100%;
}

.main-about {
    padding: 40px 0 64px;
}

.container {
    max-width: 600px;
    padding: 0 16px;
    margin: 0 auto;
}
.title-median {
    font-family: "Raleway", sans-serif; /*pega a fonte importada, caso não encontre utiliza a sans-serif (padrão)*/
font-size: 32px;
text-align: center;
text-transform: uppercase;
margin-bottom: 24px;
}

.about-image {
    float:left; /*alinha a imagem a esquerda*/
    margin: 0 20x 10px 0;
    /*diminuir o tamanho das imagens */
    width: 200px;/*largura*/
    height: auto;/*altura, evita a distorção das imagens*/
}

.about-description {
color: var(--blue) ; /*utiliza variavel de cor criado anteiormente*/
text-align: justify; /*justifica o texto*/
}

/*Footer*/

.main-footer{
    background-color: var(--skyblue); /*cor do fundo*/
padding: 15px 0;/*espaçamento cima/baixo, esquerda/direita*/
}

.footer-container{

    display: flex; /*deixar tudo na mesma linha*/
    align-items: center;/*alinha itens no centro*/
    justify-content: space-between;/*coloca nome de ladoa lista de conteudo*/
}

.title-smaller {
    font-family: "Relaway", sans-serif; /*importa a fonte*/
    font-size: 26px; /*aumenta o tamanho das letras*/
color: var(--blue); /*aplica cor de acordo com a variavel*/
}

.footer-item {
    width: 50px;
    height: 50px;
    padding: 15px 0;/*espaçamento cima/baixo, esquerda/direita*/
}

.footer-item + .footer-item {
    margin-left: 16px; /*aplica a mesma class seguindo em diante, ate chegar no fim*/
}




/*CONTATO.HTML*/

.contact-text {
text-align: center;
margin-bottom: 30px;
font-size: 28px;
color: var(--gray);
}

.contact {
    background-color: var(--skyblue); /*cor do fundo do formulario*/
    padding: 20px; /*espaçamento*/
    max-width: 600px; /*tamanho definido para o projeto*/
    margin-left: auto;/*empurra para a direita*/
    margin-right: auto;/*empurra para a esquerda*/
    margin-bottom: 20px;
}

.contact-label {

display: block; /*coloca os elementos um em cima do outro */
margin-bottom: 20px; /*espaçamento para baixo*/
color: var(--blue);
}

.contact-field {
    display: block; /*coloca os elementos um em cima do outro */
width: 100%; /*ocupa o espaço maximo disponivel*/
height: 30px; /*aumenta a altura do campo*/
font-size: 16px; /*aumenta o tamanho da fonte*/
padding-left: 10px; /*empurra o elemento para dentro do campo para a esquerda*/
border: none;
}

.contact-field:focus { /*troca a cor de fundo da area do formulario*/
    background-color: var(--silver); /*cor de fundo */
    outline: none; /*remove a linha interna do formulario*/
}

textarea.contact-field {
    height: 150px; /*altera a altura do campo*/
    padding: 10px;/* dar espaçamento */
    font-family: "Roboto",Calibri;
}

.button-form {
background-color: var(--blue); /* cor de fundo*/
color: var(---white); /*cor da fonte do botao*/
border-radius: 10px;
border: 2px solid var(--blue);
padding: 2px 6px;
font-weight: bold;
cursor: pointer;
}

.button-form:hover {
background-color: var(---white);
color: var(--blue);
}

.contact-maps {
 max-width: 600px;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 20spx;
}